{% load static %}

{% include 'base.html' %}

{% block content%}
<div class="container">
    <div class="row">
        <div class="col-3 mb-3">
            <iframe src="https://www.youtube.com/embed/tgbNymZ7vqY">
            </iframe>
        </div>
        <div class="col-3">
            <iframe src="https://www.youtube.com/embed/yklDT_Km15E">
            </iframe>
        </div>
        <div class="col-3">
            <iframe src="https://www.youtube.com/embed/5fP2n-V-EQY">
            </iframe>
        </div>
        <div class="col-3">
            <iframe src="https://www.youtube.com/embed/tgbNymZ7vqY">
            </iframe>
        </div>
        <div class="col-3">
            <iframe src="https://www.youtube.com/embed/tgbNymZ7vqY">
            </iframe>
        </div>
        <div class="col-3">
            <iframe src="https://www.youtube.com/embed/tgbNymZ7vqY">
            </iframe>
        </div>
        <div class="col-3">
            <iframe src="https://www.youtube.com/embed/tgbNymZ7vqY">
            </iframe>
        </div>
        <div class="col-3">
            <iframe src="https://www.youtube.com/embed/tgbNymZ7vqY">
            </iframe>
        </div>
        <div class="col-3">
            <iframe src="https://www.youtube.com/embed/tgbNymZ7vqY">
            </iframe>
        </div>
        <div class="col-3">
            <iframe src="https://www.youtube.com/embed/tgbNymZ7vqY">
            </iframe>
        </div>
    </div>
</div>
{% endblock %}