{% load static %}

{% include 'base.html' %}

{% block content%}
<div class="container">
    <div class="row" id="video-details">
    </div>
</div>

<script type="module">
    // https://stackoverflow.com/a/50174923/7754931
    import { getCookie } from '../../static/js/script.js';

    let csrf_token = getCookie('csrftoken');
    
    $(document).ready(function(){
        let currentURL = window.location.href;
        let videoID = currentURL.substring(currentURL.lastIndexOf('/') + 1);        
        let videoDetailsURL = 'http://127.0.0.1:8000/video-api/details/' + videoID;

        let videoViewIncreaseURL = 'http://127.0.0.1:8000/video-api/increase-video-view/' + videoID;

        $.ajax({
            url: videoViewIncreaseURL,
            type: 'POST',
            contentType : 'application/json',
            headers: {"X-CSRFToken": csrf_token},
            error: function(err) {
                console.log(err.status);
                console.log(err);
            },
            success: function(data) {
                console.log(data);
            }
        });

        $.ajax({
            url: videoDetailsURL,
            type: 'GET',
            success: function(data) {
                let div_content = '';

                div_content += '<div>'
                div_content += '<iframe width="100%" height="100%" src="' + data.data['embed_link'] + '">'
                div_content += '</iframe>'
                div_content += '<div class="card">'
                div_content += '<div class="card-header">'
                div_content += data.data['name']
                div_content += '</div>'
                div_content += '<div class="card-footer">'
                div_content += '<button class="btn">View: <b>' + data.data['views_count'] + '</b></button>'
                div_content += '<button class="btn">Like</button><b>0</b>'
                div_content += '<button class="btn">Dislike</button><b>0</b>'
                div_content += '<button class="btn">Details</button>'
                div_content += '</div>'
                div_content += '</div>'
                div_content += '</div>'
    
                document.getElementById("video-details").innerHTML = div_content;
            }
        });

        
    });
</script>
{% endblock %}