{% load static %}

{% include 'base.html' %}

{% block content%}
<div class="container">
    <div class="row" id="video-details">
    </div>
</div>

<script>
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    
    let csrf_token = getCookie('csrftoken');
    
    $(document).ready(function(){
        let currentURL = window.location.href;
        let videoID = currentURL.substring(currentURL.lastIndexOf('/') + 1);        
        let videoDetailsURL = 'http://127.0.0.1:8000/video-api/details/' + videoID;

        let videoViewIncreaseURL = 'http://127.0.0.1:8000/video-api/increase-video-view/' + videoID;

        $.ajax({
            url: videoViewIncreaseURL,
            type: 'POST',
            contentType : 'application/json',
            headers: {"X-CSRFToken": csrf_token, "token": localStorage.getItem('token')},
            error: function(err) {
                console.log(err.status);
                console.log(err);
            },
            success: function(data) {
                console.log(data);
            }
        });

        $.ajax({
            url: videoDetailsURL,
            type: 'GET',
            headers: {"X-CSRFToken": csrf_token, "token": localStorage.getItem('token')},
            success: function(data) {
                console.log(data.data);
                let div_content = '';

                div_content += '<div>'
                div_content += '<iframe width="100%" height="100%" src="' + data.data['embed_link'] + '">'
                div_content += '</iframe>'
                div_content += '<div class="card">'
                div_content += '<div class="card-header">'
                div_content += data.data['name']
                div_content += '</div>'
                div_content += '<div class="card-footer">'
                div_content += '<button class="btn">View: <b>' + data.data['views_count'] + '</b></button>'

                if (data.data['self_liked'] === true) {
                    div_content += '<button style="color: blue; font-weight: bold;" class="btn" onclick="likeBtn(' + "'" + String(videoID) + "'" + ')">Liked</button><b>' + data.data['liked'].length + '</b>'
                } else {
                    div_content += '<button class="btn" onclick="likeBtn(' + "'" + String(videoID) + "'" + ')">Like</button><b>' + data.data['liked'].length + '</b>'
                }

                div_content += '<button class="btn">Dislike</button><b>' + data.data['disliked'].length + '</b>'
                div_content += '<button class="btn">Details</button>'
                div_content += '</div>'
                div_content += '</div>'
                div_content += '</div>'
    
                document.getElementById("video-details").innerHTML = div_content;
            }
        });

        
    });

    function likeBtn(id) {
        if (localStorage.getItem("token") === null) {
            location.href = 'http://127.0.0.1:8000/login';
        }

        let videoLikeURL = 'http://127.0.0.1:8000/video-api/like-or-dislike/' + id;

        $.ajax({
            url: videoLikeURL,
            type: 'POST',
            contentType : 'application/json',
            headers: {"X-CSRFToken": csrf_token, "Authorization": localStorage.getItem('token')},
            data: JSON.stringify({ like: true, dislike: false}), 
            error: function(err) {
                console.log(err.status);
                console.log(err);
            },
            success: function(data) {
                console.log(data);
                location.reload();
            }
        });
    }
</script>
{% endblock %}