{% load static %}

<div class="container" style="height: 100px;">
    <div class="d-flex justify-content-between">
        <div class="pt-3" style="font-weight: bold; color: #FF0000;">
            <a href="{% url 'home' %}" style="text-decoration: none; color: #FF0000;">Video Sharing App</a>
        </div>
        <div class="" style="font-weight: bold; padding-top: 10px;">
            <ul class="d-flex" style="list-style: none;">
                <li style="padding-right: 10px;" id="icon-register">
                    <a href="{% url 'register' %}" style="text-decoration: none;">
                        Registration
                    </a>
                </li>
                <li style="padding-right: 10px;" id="icon-login">
                    <a href="{% url 'login' %}" style="text-decoration: none;">
                        Login
                    </a>
                </li>
                <li style="padding-right: 10px;" id="icon-logout">
                    <a href="#" style="text-decoration: none;" id="logout-button">
                        Logout
                    </a>
                </li>
                <li id="icon-dashboard">
                    <a href="{% url 'dashboard' %}">
                        <img
                            src="{% static 'icons/list-solid.svg' %}"
                            alt="logout-icon"
                            height="25"
                        >
                    </a>                        
                </li>
            </ul>
        </div>
    </div>
</div>